/* main.Activity .create-new-class{
    font-family: 'Montsserat';
} */
.popsAction{
    position: absolute;
    right: 30px;
    bottom: 0px;
    background-color: #fff;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)  inset;
    color: #000;
    width: 80px;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
}
.popsAction>div{
    padding: 2px;
}
.popsAction>div:nth-child(1){
    border-radius: 10px 10px 0 0;
}
.popsAction>div:nth-child(1):hover{
    padding: 2px;
    background-color: rgb(176, 182, 190);
}
.popsAction>div:nth-child(2):hover{
    padding: 2px;
    background-color: rgb(70, 139, 230);
}
.popsAction>div:nth-child(3):hover{
    padding: 2px;
    border-radius: 0 0 10px 10px;
    background-color: rgb(216, 3, 3);
}
.create-new-class>form{
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    position: inherit;
    padding-bottom: 80px;
}
.flex-box-input, .box-input-create-class, .input-create-class{
    box-sizing: border-box;
}
.flex-box-input{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.box-create-class{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.input-create-class{
    display: flex;
    flex-direction: row;
}
.input-create-class>select,.input-create-class>.radio-btn,.input-create-class>div>select{
    margin-left: 20px;
}
.input-create-class label,.input-create-class>div.col-div1{
    width: 30%;
}
.input-create-class input, .input-create-class select{
    align-self:center;
}
.input-create-class input{
    border: none;
    background-color: transparent;
}
.input-text-area>label{
    font-weight: bolder;
}
.input-text-area{
    display: flex;
    flex-direction: column;
}
.input-text-area textarea{
    background-color: #e5e5e5;
}
input[type="time"]{
    border: none;
    margin-left: 5px;
    width: fit-content;
    background-color: transparent;
    border-bottom: 1px solid #e5e5e5;
}
input[type="time"]::-webkit-calendar-picker-indicator{
    display: none;
}
.input-create-class input[type="file"]{
    width: 60%;
    margin-left: 20px;
    font-size: 14px;
}
.input-create-class input#choice1:checked ~ .price-radio,.input-create-class input#choice1:checked ~ label[for="choicePrice"] {
    display:none;
}
/* .input-create-class .price-radio,.input-create-class label[for="choicePrice"]{
    display: none;
} */
.input-create-class .price-radio{
    border-bottom: 1px solid black;
    width: 20%;
}
.radio-btn>label{
    margin-right: 10px;
    width: fit-content;
}
.create-new-class>form button[type="submit"]{
    box-sizing: border-box;
    width: 30%;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 40px;
    background-color: #57BA61;
    color: #fff;
    position: absolute;
    right: 40px;
}
@media only screen and (max-width:768px){
    .flex-box-input{
        flex-direction: column;
    }
    .box-create-class{
        width: 100%;
    }
}