td.scoreColor{
    text-align:center;
    font-size:22px;
    font-weight: 900;
}
.score-display{
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    color: #51E72B;
    font-weight: 700;
    padding-top: 10px;
    box-sizing: border-box;
    width: 100px;
    height: fit-content;
    position: absolute;
    text-align: center;
    bottom: -10px;
    right: 40px;
}
.label-score{
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 16px;
    color: #000;
}
.unfinished{
    box-sizing: border-box;
    text-align:center;
    font-size:12px;
    width: 80px;
    border-radius: 20px;
    padding: 5px;
    color: #BA5757;
    font-weight: 500;
    background-color: #EDD2D2;
}
/* presentasi border */
.detail-body-head{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}
.detail-void2{
    width: 30%;
    height: 40px;
}
.line-percent {
    right: 0;
    top: 0;
    width   : 70%;
    height  : 40px;   
    position: relative;
    z-index : 1;
    color: #5784BA;
}
.line-percent:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 80%;
    border-bottom:6px solid #5784BA;
}
.line-percent:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 20%;
    border-bottom:3px solid #c4c4c4;
}
/* ======================== */
@media only screen and (max-width:992px){
    .score-display{
        font-size: 48px;
        right: 0;
        bottom: -10px;
    }
    .label-score{
        font-size: 10px;
        left: 0;
        width: 100%;
    }
}
@media only screen and (max-width:767px){
    .score-display{
        font-size: 32px;
        bottom: 0;
    }
}
@media only screen and (max-width:600px){
    .score-display{
        font-size: 20px;
        right: -20px;
        bottom: 0px;
    }
    .label-score{
        font-size: 10px;
        width: 100%;
    }
    .detail-void2{
        width: 30%;
        height: 30px;
    }
    .line-percent{
        font-size: 10px;
        height: 30px;
    }
    .line-percent::before{
        border-width: 4px;
    }
    .line-percent:after{
        border-width: 2px;
    }
}