.pops-background{
    background-color: rgba(0, 0, 0, 0.562);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
.popsScoringMember{
    padding: 20px;
    background-color: #fff;
    width: 40%;
    height: calc( 100% - 40px);
    box-sizing: border-box;
    overflow-y: auto;
}
.header-popsScoringMember{
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
}
.closePops{
    border: none;
    text-decoration: none;
    background-color: transparent;
    width: inherit;
    height: inherit;
    margin-top: -40px;
}
@media only screen and (max-width : 768px){
    .popsScoringMember{
        width: 70%;
    }
}
@media only screen and (max-width : 600px){
    .popsScoringMember{
        width: 90%;
    }
    .header-popsScoringMember{
        font-weight: 500;
        font-size: 14px;
    }
}