@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Kanit';
}
.header-reset-password{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    font-family: 'Kanit';
    box-sizing: border-box;
    height: 50%;
}
.black-text,.grey-text{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.black-text{
    font-weight: 600;
    color: #000;
    font-size: 16px;
    margin-top: 2em;
}
.grey-text{
    font-size: 14px;
    font-weight: 400;
    color: #837F8F;
    font-style: normal;
    margin-bottom: 3em;
}
.container-fluid{
    height: 100vh;
    background-color: #E5E5E5;
}
.row{
    height: 100%;
}
.row>.back_btn{
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
    text-decoration: none;
    z-index: 2;
    box-sizing: border-box;
    position: fixed;
    left: 30px;
    top: 30px;
    margin: 0;
    padding: 0;
}
section{
    height: 100%;
}
.section-1>img{
    width: 300px;
    height: 300px;
}
.form-reset{
    width: 60%;
}
.input-email{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.input-email>input[type="email"]{
    width: 100%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
}
.input-email>label[for="input-email"]{
    width: 40px;
    height: 20px;
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 10px;
    color: #ADA9BB;
    text-align: center;
    position: absolute;
    background-color: #fff;
    padding: 2px;
    box-sizing: border-box;
    top: 0;
    left: 20px;
}
input:focus{
    border: 3px solid #5784BA;
}
input:focus + label[for="input-email"]{
    font-weight: 600;
    color: #5784BA;
}
.form-reset .btn{
    margin-top: 1em;
    width: 100%;
    background-color: #5784BA; color:#fff;
}
@media only screen and (max-width: 900px) {
    section.col.section-1 {
        flex: none;
        padding: 0;
        width: 0;
        display: none;
        height: 0;
    }
    section.section-1 img{
        display: none;
    }
    .header-reset-password{
        width: 80%;
    }
    .form-reset{
        width: 80%;
    }
}   