@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
}
.forgot_password>.container-fluid{
    height: 100vh;
    background-color: #E5E5E5;
    font-family: 'Kanit';
}
.forgot_password>.container-fluid>.row section .header-reset-password{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    font-family: 'Kanit';
    box-sizing: border-box;
}
.forgot_password>.container-fluid>.row section .black-text,.forgot_password>.container-fluid>.row section .grey-text{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.forgot_password>.container-fluid>.row section .black-text{
    font-weight: 600;
    color: #000;
    font-size: 16px;
    margin-top: 2em;
}
.forgot_password>.container-fluid>.row section .black-text.normalWeight{
    font-weight: normal;
}
.forgot_password>.container-fluid>.row section .grey-text{
    font-size: 14px;
    font-weight: 400;
    color: #837F8F;
    font-style: normal;
}
.forgot_password>.container-fluid>.row{
    margin: 0;
    width: 100%;
    height: 100%;
}
.forgot_password>.container-fluid>.row>.back_btn{
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
    text-decoration: none;
    z-index: 2;
    box-sizing: border-box;
    position: fixed;
    left: 30px;
    top: 30px;
    margin: 0;
    padding: 0;
}
.forgot_password>.container-fluid>.row section{
    height: 100%;
}
.forgot_password>.container-fluid>.row .section-1>img{
    width: 300px;
    height: 300px;
}
.forgot_password>.container-fluid>.row .form-reset{
    height: 40%;
    width: 60%;
}
.forgot_password>.container-fluid>.row .form-reset>form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.forgot_password>.container-fluid>.row .form-reset>form.newPassword{
    justify-content: flex-start;
}
.forgot_password>.container-fluid>.row section .form-reset .input-email, .forgot_password>.container-fluid>.row section .form-reset .inputPassword{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.forgot_password>.container-fluid>.row section .form-reset .input-email>input[type="email"]:valid ~ label[for="input-email"]{
    font-size: 12px;
    color: #ADA9BB;
    font-weight: 400;
}
.forgot_password>.container-fluid>.row section .form-reset .input-email>input[type="email"],.forgot_password>.container-fluid>.row section .form-reset .inputPassword>input[type="password"]{
    width: 100%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ADA9BB;
}
.forgot_password>.container-fluid>.row section .form-reset .input-email>label[for="input-email"], .forgot_password>.container-fluid>.row section .form-reset .inputPassword>label[for="inputPassword"]{
    height: 20px;
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 16px;
    color: #ADA9BB;
    text-align: center;
    position: absolute;
    background-color: #fff;
    padding: 2px;
    box-sizing: border-box;
    top: 15px;
    left: 20px;
}
.forgot_password>.container-fluid>.row section .form-reset .inputPassword{
    display: flex;
    flex-direction: column;
    height: 65px;
    padding-top: 8px;
    justify-content: center;
    align-items: flex-start;
}
/* .forgot_password>.container-fluid>.row section .form-reset .inputPassword:nth-child(2){
    margin-bottom: 20%;
} */
.forgot_password>.container-fluid>.row section .form-reset .input-email>input:focus,.forgot_password>.container-fluid>.row section .form-reset .inputPassword>input:focus{
    border: 3px solid #5784BA;
}
.forgot_password>.container-fluid>.row section .form-reset input:focus + label[for="input-email"],.forgot_password>.container-fluid>.row section .form-reset input:focus + label[for="inputPassword"]{
    font-weight: 600;
    top: 0;
    color: #5784BA;
    font-size: 12px;
}
.forgot_password>.container-fluid>.row section .form-reset input:valid ~ .validPass{
    visibility: hidden;
}
.forgot_password>.container-fluid>.row section .form-reset .btn{
    margin-top: 1em;
    width: 100%;
    background-color: #5784BA;
    color:#fff;
}
.forgot_password>.container-fluid>.row section .form-reset>form.newPassword .btn{
    margin-top: 20%;
}
.input_OTP{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
.input_OTP>input{
    width: 15%;
    height: 100%;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
    border: none;
    box-sizing: border-box;
    border-bottom: 4px solid #000;
}
.forgot_password>.container-fluid>.row section .form-reset div.textGrey{
    text-align: center;
    color: #ADA9BB;
    margin-bottom: 20%;
    font-size: 14px;
}
.forgot_password>.container-fluid>.row section .form-reset div.textGrey a{
    color: #5784BA;
}
.validPass, .checkPass{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    margin-left: 10px;
}
.popsPassword{
    color: #fff;
    /* display: flex; */
    display: none;
    position: fixed;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.822);
    height: 100%;
    width: 50%;
}
.popsPassword img{
    width:300px;
    height: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
}
@media only screen and (max-width: 900px) {
    .forgot_password>.container-fluid>.row section.col.section-1 {
        flex: none;
        padding: 0;
        width: 0;
        display: none;
        height: 0;
    }
    .forgot_password>.container-fluid>.row section.section-1 img{
        display: none;
    }
    .forgot_password>.container-fluid>.row section .header-reset-password{
        width: 80%;
    }
    .forgot_password>.container-fluid>.row section .form-reset{
        width: 80%;
    }
    .forgot_password>.container-fluid>.row section .form-reset>form.newPassword .btn{
        margin-top: auto;
    }
    .forgot_password>.container-fluid>.row section .form-reset div.textGrey{
        text-align: center;
        color: #ADA9BB;
        margin-bottom: 3em;
        font-size: 14px;
    }
    .popsPassword{
        width: 100%;
    }
}   
@media only screen and (max-height: 500px){
    .forgot_password>.container-fluid>.row section .header-reset-password .black-text{
        margin-top: 0.5em;
    }
    .forgot_password>.container-fluid>.row section .form-reset div.textGrey{
        margin-bottom: 0;
    }
    .input_OTP{
        height: 40px;
    }
}