@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
:root {
    --color_main: #5784BA;
    --color_secondary: #ADA9BB;
}
body{
    background-color: #E6EDF6;
}
.Login>.container-fluid>main h2{
    font-weight: 700;
    font-size: 40px;
}
.Login>.container-fluid{
    height: 100vh;
    padding: 0;
    font-family:Kanit;
}
.Login>.container-fluid>main{
    width: 50%;
    height: 100vh;
    font-weight: 500;
}
.Login>.container-fluid>main .main-form{
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 70%;
    margin-top: 10%;
    position: relative;
}
.Login>.container-fluid>main .footer{
    font-size: 14px;
    color:var(--color_secondary);
    position: absolute;
    bottom:0.5rem;
}
.Login>.container-fluid>main .footer a{
    text-decoration: none;
    color:var(--color_main);
}
.Login>.container-fluid>main .main-form .box-input label[for="input-email"], .Login>.container-fluid>main .main-form .box-input label[for="input-password"]{
    position: absolute;
    padding: 2px;
    color:var(--color_secondary);
    top: -8px;
    left: 15px;
    font-size:10px;
    background: linear-gradient(180deg,#E6EDF6 50%,#fff 50%);
}
.Login>.container-fluid>main .main-form button.eye-visibility{
    position: absolute;
    top: 56px;
    right: 15px;
    padding: 0;
    text-decoration: none;
    border: none;
    height:fit-content;
    width: fit-content;
    background-color: transparent;
}
.Login>.container-fluid>main .main-form .box-input, button{
    position: inherit;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    box-sizing: border-box;
}
.Login>.container-fluid>main .main-form a.forgot-password{
    text-decoration: none;
    color: #010620;
    font-size: 12px;
    font-weight: 600;
    align-self: flex-end;
    margin-bottom: 20%;
}
.Login>.container-fluid>main .main-form .login-google img{
    width: 30px;
    height: 30px;
}
.Login>.container-fluid>main .main-form .box-input input{
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--color_secondary);
    border-radius: .25rem;
    outline: none;
}
.Login>.container-fluid>main .main-form .box-input input[type="email"]::placeholder{
    font-weight: 500;
    font-style: normal;
    color: rgb(165, 165, 165);
}
.Login>.container-fluid>main .main-form .box-input input:focus{
    border: 3px solid var(--color_main);
}
.Login>.container-fluid>main .main-form .box-input input:focus + label{
    font-weight: 600;
    color:var(--color_main);
}
.Login>.container-fluid>main .main-form button.btn{
    background-color:var(--color_main);
    color: white;
    padding: 10px;
}
.Login>.container-fluid>main .main-form button:hover{
    color: white;
}
.Login>.container-fluid>main .main-form button.login-google{
    color: #010620;
    background-color: #fff;
    padding: 5px;
    font-size: 16px;
}
@media only screen and (max-height: 400px){
    .Login>.container-fluid>main .main-form{
        margin-top: 0;
    }
    .Login>.container-fluid>main .main-form a.forgot-password{
        margin-bottom: 0;
    }
    .Login>.container-fluid>main .footer{
        bottom: 0;
    }
}